%rubik-300 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
%rubik-400 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%dms-700 {
  font-family: "DMSans", sans-serif;
  font-weight: 700;
}
%poppins-700 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

%dms-400 {
  font-family: "DMSans", sans-serif;
  font-weight: 400;
}

%dms-500 {
  font-family: "DMSans", sans-serif;
  font-weight: 500;
}


// %myriad-400 {
//   font-family: "Myriad Pro", sans-serif;
//   font-weight: 400;
// }

// %poppins-700 {
//   font-family: "Poppins", sans-serif;
//   font-weight: 700;
// }