.footer {

  &__top {
    padding: 90px 0;
    background-color: $container-bg;
  }

  &__brands {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // &__brand {}

  // &__brand-logo {}

  // &__bottom {}

  // &__wrapper {}

  &__nav {
    padding: 70px 0;
    font-size: 14px;
    line-height: 2.3;
    color: $text-footer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 90px;
  }

  &__address {
    max-width: 191px;
  }

  &__logo {
    font-style: normal;
    margin-bottom: 10px;
  }

  // &__address-list {}

  &__address-item {
    margin-bottom: 10px;
  }

  &__address-link {
    font-style: normal;
  }


  &__address-link,
  &__link {
    &::after {
      height: 1px;
      background-color: $text-footer;
    }
  }

  &__address-span {
    text-transform: uppercase;
  }



  &__list {
    padding-top: 20px;
  }

  // &__item {}

  &__title {
    @extend %dms-700;
    font-size: 16px;
    line-height: 1;
    color: $title-footer;
    text-transform: uppercase;
    margin-bottom: 27px;
  }

  // &__link {}

  &__blok-form {
    padding-top: 20px;
  }

  &__blok-text {
    margin-bottom: 38px;
    max-width: 234px;
  }

  &__form {
    max-width: 270px;
    display: flex;
  }

  // &__form-inner {}

  // &__form-label {}

  &__form-input {
    background-color: $container-bg;
    box-shadow: 0px 0px 0px 1px $container-bg;
    @extend %dms-400;
    font-size: 12px;
    line-height: 1;
    padding: 14px 14px;
    color: $text-input;
    transition: background-color 0.3s, box-shadow 0.3s ease-in-out;
    &::placeholder{
      color: $text-input;
    }

    &:focus {
      box-shadow: 0px 0px 0px 1px $btn-bg;
    }
  }

  &__form-btn {
    line-height: 1;
    padding: 14px 14px;
  }

  &__copy {
    border-top: 1px solid $btn-bg;
    padding: 37px 0;
    font-size: 14px;
    line-height: 2.29;
    color: $text-footer;
    display: flex;
    justify-content: space-between;
  }

  // &__copy-text {}

  &__menu {
    display: flex;
    align-items: center;
    line-height: 1;
  }

  &__menu-item {
    padding: 0 9px;

    &:not(:last-child) {
      border-inline-end: solid 1px $text-footer;
    }
  }

  &__menu-link {
    &::after {
      height: 1px;
      background-color: $text-footer;
    }
  }
}