.footer {
  padding-top: 79px;

  // &__inner {}

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 77px;
  }

  &__address {
    max-width: 241px;
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__blok {}

  &__title {
    padding-top: 14px;
    @extend %dms-700;
    font-size: 16px;
    line-height: 1.31;
    color: #1f2044;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__list {}

  &__item {}

  &__link {
    font-size: 14px;
    line-height: 2.29;
    color: #7b7b7b;

    &::after {
      height: 1px;
      background-color: #7b7b7b;
    }
  }

  &__blok-form {
    max-width: 240px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.7;
    color: #7b7b7b;
    margin-bottom: 38px;
  }

  &__form {
    display: flex;
  }

  &__form-inner {}

  &__form-label {}

  &__form-input {
    @extend %dms-400;
    line-height: 0;
    font-size: 12px;
    padding: 13px 16px;
    background-color: $search-bg;
    color: #234969;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0px 0px 0px 2px $btn-bg inset;

    }
  }

  &__form-btn {
    @extend %dms-400;
    font-size: 14px;
    line-height: 1;
    padding: 10px 16px;
  }
}

.address {

  &__list {}

  &__item {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  &__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1;
    color: #7b7b7b;

    &::after {
      height: 1px;
      background-color: #7b7b7b;
    }
  }

  &__span {
    text-transform: uppercase;
  }
}

.footer-bottom {
  height: 90px;
  border-top: 1px solid #a3bbc869;;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__copy {
    font-size: 14px;
    color: #7b7b7b;
  }

  &__list {
    height: 17px;
    display: flex;
    align-items: center;
  }

  &__item {
    line-height: 0.8;
    padding: 0 16px;

    &:not(:last-child) {
      border-right: 1px solid;
    }
  }

  &__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1;
    color: #7b7b7b;

    &::after {
      height: 1px;
      background-color: #7b7b7b;
    }
  }
}