html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

::-webkit-scrollbar {
  // width: 0;
}

a,
button,
input {
  outline: transparent;
}

button,
input {
  border: transparent;
}

body {
  @extend %rubik-400;
  font-size: 16px;
  line-height: 1.88;
  color: $text;
  background-color: $bg;
}

.container {
  max-width: 1770px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  @extend %dms-700;
  font-size: 36px;
  color: $title;
  text-align: center;
}

.logo {
  @extend %rubik-500;
  font-size: 36px;
  line-height: 1.61;
  color: $text-logo;
  display: flex;
  align-items: center;
  transition: transform 0.4s, opacity 0.3s ease-in-out;

  &__img {
    margin-right: 12px;
  }

  &:hover {
    transform: scale(1.2);
    opacity: 0.9;
  }
}

.btn-bg {
  color: $bg;
  background-color: $btn-bg;
  box-shadow: 0px 0px 0px 1px $btn-bg;

  transition:
    color 0.3s,
    border-color 0.3s,
    box-shadow 0.3s,
    background-color 0.3s ease-in-out;

  &:hover {
    color: $btn-bg;
    background-color: transparent;
  }
}

.btn-light {
  border: solid 1px $border;
  background-color: transparent;
  border-radius: 5px;
  transition:
    color 0.3s,
    transform 0.3s,
    background-color 0.3s,
    border-color 0.3s ease-in-out;

  &:hover {
    color: $bg;
    border-color: $bg;
  }
}

.link {
  position: relative;
  transition:
    transform 0.4s,
    opacity 0.3s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    transition: width 0.3s ease-in-out;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}