body {
  font-family: 'DMSans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: $text;
  background-color: $bg;
}

.wrapper {
  max-width: 1770px;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.61;
  text-align: left;
  color: $logo;

  &__img {
    width: 51px;
    height: 39px;
    margin-right: 12px;
  }
}
