.header {
  padding: 45px 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  &__link {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 0.8;
    color: $text-menu;

    &::after {
      background-color: $text-menu;
    }
  }
}

.user-box {
  display: flex;

  &__search,
  &__burger {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: transparent;
    }
  }

  &__search {
    background-color: $search-bg;
    box-shadow: 0px 0px 0px 2px $search-bg;
    margin-right: 21px;
  }

  &__burger {
    background-color: $burger-bg;
    box-shadow: 0px 0px 0px 2px $burger-bg;

    &:hover {
      .user-box__icon-burger {
        fill: $burger-bg;
      }
    }
  }

  // &__icon {}

  &__icon-burger {
    fill: $bg;
  }

  &__list {
    width: 178px;
    height: 51px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    margin-right: 21px;
    background-color: $user-bg;
    box-shadow: 0px 0px 0px 2px $user-bg;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: transparent;

      & .user-box__item {
        &:not(:last-child) {
          border-inline-end: solid 2px $user-bg;
        }
      }
    }
  }

  &__item {
    display: inherit;
    align-items: center;
    justify-content: center;
    width: 89px;
    height: 32px;

    &:not(:last-child) {
      border-inline-end: solid 2px $bg;
      transition: border-inline-end 0.3s ease-in-out;
    }
  }

  &__link {
    display: inline-flex;
    position: relative;
  }

  &__num {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: $bg;
    border-radius: 50%;
    right: -10px;
    top: -10px;
    @extend %dms-400;
    font-size: 10px;
    line-height: 1;
    box-shadow: 0px 0px 0px 2px $user-bg;
  }
}