.hero {
  &__info {
    background-color: #fef7f0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    display: flex;
    justify-content: center;
    padding: 48px 0;

    &:not(:last-child) {
      border-right: 1px solid #243f4d15;
    }
  }

  &__content {
    padding-left: 77px;
    background-repeat: no-repeat;
    background-position: top left;
  }

  &__subtitle {
    @extend %dms-700;
    color: $subtitle;
  }

  &__text {
    max-width: 213px;
    @extend %dms-400;
    font-size: 16px;
    line-height: 1.88;
    color: $info-text;
  }
}

.hero-slider {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__inner {}

  &__item {
    height: 70vh;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
  }

  &__content {}

  &__title {
    @extend %rubik-500;
    font-size: 72px;
    line-height: 0.97;
    color: $hero-title;
    text-transform: uppercase;
    margin-bottom: 21px;
  }

  &__title-span {
    display: block;
  }

  &__text {
    max-width: 359px;
    margin-bottom: 35px;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 0.8;
    padding: 21px 27px;

    &:hover {
      & .hero-slider__icon {
        fill: $btn-bg;
      }
    }
  }

  &__icon {
    fill: $bg;
    margin-left: 60px;
    transition: fill 0.3s ease-in-out;
  }

  &__img {}
}

.slick-slider {
  .slick-dots {
    display: flex;
    justify-content: center;
    justify-content: center;
    padding-bottom: 45px;

    & li:not(:last-child) {
      margin-right: 11px;
    }

    & button {
      width: 30px;
      height: 30px;
      text-align: center;
      border-radius: 50%;
      font-size: 11px;
      line-height: 0.77;
      color: $fill;
      background-color: #ffffff7e;
    }
  }

  .slick-active {
    & button {
      background-color: $bg;
    }
  }
}