// .hero {}

.hero-slider {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &__item {
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right center;
    padding: 225px 0 281px 0;
  }

  &__title {
    max-width: 411px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 0.97;
    color: $title-hero;
    margin-bottom: 45px;
  }

  &__text {
    max-width: 359px;
    font-size: 18px;
    line-height: 1.67;
    color: $text-hero;
    margin-bottom: 41px;
  }

  &__link {
    margin-left: 2px;
    display: inline-flex;
    align-items: center;
    padding: 20px 25px;

    &:hover {
      background-color: $container-bg;

      .hero-slider__icon {
        fill: $btn-bg;
      }
    }
  }

  &__icon {
    margin-left: 60px;
    fill: $bg;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    padding-bottom: 45px;

    & li:not(:last-child) {
      margin-right: 11px;
    }

    & button {
      width: 30px;
      height: 30px;
      text-align: center;
      border-radius: 50%;
      font-size: 11px;
      line-height: 0.77;
      color: $text-dots;
      background-color: $dots-bg;
    }
  }

  .slick-active {
    & button {
      background-color: $bg;
    }
  }
}

.hero-info {
  background-color: $container-bg;
  display: flex;

  &__item {
    width: calc(100%/3);
    padding: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &:not(:last-child) {
      border-inline-end: solid 2px #243f4d15;
    }
  }

  &__box {
    padding-left: 77px;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 52px;
  }

  &__subtitle {
    @extend %dms-700;
    font-size: 18px;
    line-height: 1;
    color: $title-hero-subtitle;
    margin-bottom: 15px;
  }

  &__text {
    max-width: 219px;
    @extend %dms-400;
    color: $text-hero-text;
  }
}