.insights {
  padding-top: 120px;
  position: relative;

  // &__wrapper {}

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 46px;
  }

  &__title {
    line-height: 1;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    @extend %dms-700;
    font-size: 16px;
    line-height: 1;
    color: $text-insights;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__icon {
    fill: $text-insights;
    margin-left: 8px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  &__card {
    max-width: 370px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    background-color: $bg;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0px 6px 47px 3px #25252521;

      & .insights__text {
        text-decoration: underline;
      }
    }
  }

  &__img-box {
    position: relative;
  }

  &__img {
    height: 250px;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__btn {
    position: absolute;
    @extend %poppins-700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.43;
    padding: 10px 31px;
    border-radius: 20px;
    bottom: -19px;
    left: 30px;

    &:hover {
      background-color: $bg;
    }
  }

  &__info-box {
    padding: 36px 53px 78px 31px;
  }

  &__text {
    @extend %dms-700;
    line-height: 1;
    color: $text-insights;
    padding-bottom: 18px;
  }

  &__figure {
    padding-top: 20px;
    border-top: 1px solid #e0e0e0;
    position: absolute;
    bottom: 26px;
    display: flex;
    width: 83%;
  }

  &__author,
  &__data {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
    color: $text-insights;
    line-height: 1;
    margin-right: 25px;
    transition: font-weight 0.3s ease-in-out;

    &:after {
      height: 1px;
      background-color: $text-insights;
    }
  }


  &__data-icon,
  &__author-icon {
    fill: $text-insights;
    margin-right: 10px;
    transition: fill 0.3s ease-in-out;
  }

  &__bottom {
    height: 31%;
    background-color: $container-bg;
    position: absolute;
    z-index: -5;
    bottom: 0;
    left: 0;
    right: 0;
  }
}