.product-card {
  max-width: 270px;
  border-radius: 10px;
  box-shadow: 0px 6px 47px 3px #2525250d;
  background-color: $bg;
  height: 380px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  transition: all 0.3s ease-in-out;

  &:hover {
    & .product-card__actions {
      opacity: 1;
    }
  }

  &__link {
    flex-grow: 1;
    margin: 20px 20px;
    object-fit: cover;
  }

  &__img {
    margin: 0 auto;
  }

  &__actions {
    display: flex;
    position: absolute;
    opacity: 0;
    top: 44%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
  }

  &__action {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $bg;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    box-shadow: 0px 6px 47px 3px #2525250d;
    transition: all 0.2s ease-in-out;

    &:not(:last-child) {
      margin-right: 16px;
    }

    &:hover {
      background-color: $btn-bg;

      & .product-card__icon {
        fill: $bg;
      }
    }
  }

  &__icon {
    fill: $logo;
    transition: all 0.2s ease-in-out;
  }

  &__title {
    @extend %dms-500;
    font-size: 16px;
    line-height: 2.5;
    color: #243f4d;
  }

  &__ref {
    &::after {
      background-color: #243f4d;
    }

    &:hover {
      font-weight: 700;
    }
  }

  &__price {
    @extend %dms-700;
    font-size: 16px;
    line-height: 2.5;
    color: #a3bbc8;
    margin-bottom: 38px;
  }
}