.product {
  padding-top: 74px;

  &__title {
    margin-bottom: 40px;
  }

  // &__wrapper {}

  &__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  &__box {
 
    background-color: $box-bg;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 75px;
    padding-right: 130px;
    padding-bottom: 75px;
  }

  &__img {
    position: absolute;
    margin-bottom: 80px;
    bottom: 0;
    left: 11%;
  }

  &__content {
    max-width: 329px;
  }

  &__subtitle {
    @extend %dms-700;
    font-size: 26px;
    line-height: 1.23;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 16px;
    margin-bottom: 30px;
  }

  &__more {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 0.8;
    color: $text-menu;
    padding: 20px 24px;
    display: inline-flex;
    align-items: center;

    &:hover {
      color: $text-menu;
      border-color: $text-menu;
      transform: scale(1.1);
      .product__info-icon {
        transform: scale(1.1);
      }
    }
  }

  &__info-icon {
    margin-left: 44px;
    fill: $text-menu;
    transition: transform 0.3s ease-in-out;
  }
}


.product-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__btn {
    background-color: transparent;
    @extend %dms-700;
    color: $text-filter;
    font-size: 16px;
    line-height: 1.2;
    transition: color 0.2s ease-in-out;

    &::after {
      background-color: $text-filter-hover;
    }

    &:hover {
      color: $text-filter-hover;
    }
  }
}

.mixitup-control-active {
  color: $text-filter-hover;

  &::after {
    width: 100%;
    background-color: $text-filter-hover;
  }
}