$bg: #fff;
$text: #436372;
$logo: #436372;
$hero-title: #243f4d;
$fill: #243f4d;
$icon: #243f4d;
$card-name: #243f4d;
$title: #191919;
$card-price: #a3bbc8;
$btn-light-border: #436372;
$subtitle: #414141;
$info-text: #585858;
$border: #243f4d15;
$filter-link: #8b8b8b;

$info-bg: #fef7f0;

$btn-bg: #a3bbc8;

$search-bg: #edf1f4;

$burger-bg: #a3bbc8;

$user-bg: #fcd7b6;
