$bg: #fff;
$search-bg: #edf1f4;
$user-bg: #fcd7b6;
$burger-bg: #a3bbc8;
$container-bg: #fef7f0;
$btn-bg: #a3bbc8;
$dots-bg: #fde3cc;
$box-bg:#feefe2;

$title:#191919;
$title-hero: #243f4d;
$title-hero-subtitle: #414141;
$title-footer: #1f2044;

$text: #243f4d;
$text-logo: #436372;
$text-menu: #436372;
$text-hero: #436372;
$text-hero-text: #585858;
$text-dots: #243f4d;
$text-filter: #8b8b8b;
$text-filter-hover: #1a1a1a;
$text-price: #a3bbc8;
$text-insights: #262626;
$text-input: #234969;
$text-footer: #7b7b7b;

$border: #4363725b;













